<h1> Total number of people who live in <%= @nation %>: <%= @members.length %></h1>
<% @members.each do |member| %>
<dl>
  <dt>Name: <%= member[:name] %></dt>
  <% member[:allies].each do |ally| %>
    <dt>Member Allies:</dt>
    <dd id=<%=member[:name] %>-<%= ally %>><%= ally %></dd>
  <% end %>
  <% member[:enemies].each do |enemy| %>
    <dt>Member Enemies:</dt>
    <dd id=<%= member[:name]%>-<%= enemy %>><%= enemy %></dd>
    <% end %>
  <dt>Affiliation: <%= member[:affiliation] %></dt>
  <dd id=<%= member[:name] %>-img><img alt=<%= member[:name] %> src=<%= member[:photoUrl] %>></dd>
<% end %>
</dl>
