<h1> Total number of people who live in <%= @nation %></h1>
<p> <%= @members.length %></p>
<% @members.each do |member| %>
<dl>
  <dt>Name: <%= member[:name] %></dt>
  <% member[:enemies].each do |enemy| %>
    <dd>Member Enemies: <%= enemy %></dd>
    <% end %>
  <dd>Affiliation: <%= member[:affiliation] %></dd>
  <dd><img alt="fire" src=<%= member[:photoUrl] %>></dd>
<% end %>
</dl>
